.App {
  text-align: center;
  /* background-image: url('./assets/story2021.png'); */
  background: rgba(237, 224, 208, 1);
  color: '#260500';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'Song';
  src: url('assets/SourceHanSerifCN-VF.ttf');
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.titleP0 {
  font-size: larger;
  font-family: 'Song';
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  background: '#EDE0D0';
  overflow: hidden;
}



.daterapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

.linebolck {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dateP1 {
  font-size: 16px;
  font-family: 'Song';
  font-weight: normal;
  /* background-color: red; */
}

.dateP2 {
  font-size: 24px;
  font-family: 'Song';
  font-weight: normal;
  width: 100%;
  margin: 3px;
  /* background-color: red; */
}

.code-box-shape {
  width: 30px;
  height: 30px;
  background-color: azure;
}

.up {
  transform: translateY(40px);
  opacity: 0;
}

.mycontent {
  font-family: 'Song';
  font-weight: normal;
  text-align: left;
  font-size: medium;
}

.num {
  font-size: larger;
  color: rgba(72, 100, 197, 1);
  font-size: 36px;
}

/* 竖直居中布局 */
.shude {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 250px;
  margin: 16px;

}
